/*font-family: 'Montserrat', sans-serif;
font-family: 'Droid Serif', serif;
font-family: 'Kaushan Script', cursive;

*/
/*GENERAL*/
*{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #333333;
}
.serif-text{
	font-family: 'Droid Serif', serif;
	font-style: italic;
}
h2, h4{
	font-weight: 700;
	margin: 20px 0px;
}
p{
	color: #777777;
}
/*NAV*/
.navbar{
	background-color: transparent;
}
.navbar-default{
	margin: 0;
	border: none;
	padding: 20px 0px;
}
.navbar-default.navbar ul li a{
	color: #fff;
	font-size: 15px;
}
.navbar-default .navbar-brand{
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;
	color: #fec503;
}

/* 1 HEADER*/
header{
	background-image: url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	text-align: center;
	color: #fff;
}

header h4{
	font-size: 40px;
	margin: 20px 0px;
	color: #fff;
}
header h1{
	font-weight: 700;
	font-size: 60px;
	color: #fff;
}
.welcome{
	margin-top: 200px;
}
.btn-lab{
	background-color: #fed136;
	padding: 20px 40px;
	font-weight: 700;
	font-size: 20px;
	border-radius: 5px;
	margin: 50px 0;
	color: #fff;
}
.btn-lab:hover{
	background-color: #f7b617;
	color: #fff;
}
/*Services*/
#services, #portfolio{
	padding: 50px 0px;
	line-height: 25px;
}
.info-section{
	padding: 40px;
	line-height: 20px;
}
.services-text i{
	font-size: 50px;
	color: #fff;
	background-color:#fed136;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	padding: 20px 0px;
	margin-top: 20px;
}
/*PORTFOLIO*/
#portfolio, #team{
	background-color: #eeeeee;
	height: auto;
	padding: 50px 0px;
}
.port-pic{
	text-align: center;
	margin: 0 auto;
	padding: 0;
}
.portfolio-text{
	padding: 20px;
}
.portfolio-margen{
	background-color: #fff;
    padding: 0;
    max-width: 400px;
    box-sizing: border-box;
}
.portfolio-text .serif-text{
	margin-top: -20px;
}
/*ABOUT*/
.img-about{
	border-radius: 100%;
	width: 20%;
}
#about{
	text-align: right;
}
div[class*="align-"]{
	margin: 0;
	padding: 0;
}
.text-right{
	text-align: right;
}
.align-right{
	float: left;
}
.align-right img{
	float: right;
	margin-left: 40px;
}
.text-left{
	text-align: left;
}
.align-left{
	float: right;
}
.align-left img{
	float: left;
}

/*TEAM*/
#team img{
	border-radius: 100%;
	border: 8px solid #fff;
}
.social-net a i{
	font-size: 23px;
	border-radius: 100%;
	width: 50px;
	padding: 15px;
	height: 50px;
	background-color: #333333;
	color: #fff;
}
.social-net a i:hover{
	background-color: #f7b617;
}
.social-net{
	margin: 0px 80px;
}
.our-team a{
	text-align: center;
	margin: 0 auto;
}
#team .serif-text{
	font-family: 'Droid Serif', serif;
}
.especial p{
	padding: 40px 150px;
	font-family: 'Droid Serif', serif;
}
.our-team h4{
	margin-bottom: 0;
}

/*SPONSORS*/
#sponsor{
	padding: 20px 50px;
	background-color: #fff;
}
/*CONTACT*/
#contact{
	background-color: #222222;
	background-image: url(../img/map-image.png);
	height: 100vh;
	padding: 100px 50px;
}
#contact h2{
	color: #fff;
	font-size: 50px;
}
.forms-inputs{
	margin-top: 50px;
}
.form-control{
	text-align: left;
	padding: 30px;
}
.form-group textarea{
	height: 215px;
}
/*SUB-FOOTER*/
#sub-footer{
	padding: 30px;
	background-color: #fff;
}
#sub-footer i{
	width: 40px;
	height: 40px;
	padding: 10px;
	margin: -10px 10px;
}